<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><%= cameledName %></h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong><%= cameledName %></strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>This is title</h5>
                </div>
                <div class="ibox-content">
                    This is content
                </div>
            </div>
        </div>
    </div>
</div>
